# Environments
.env
venv/
env/
ENV/

# Python
__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data & Indices
faiss_index/
*.pdf
!app/static/*.pdf

# OS
.DS_Store
Thumbs.db

# Scratch / Temporary
scratch/
test_agent.py
temp/
